// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #cc0000;
$secondary : #555C64;
$accent    : #A7BFD0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #DB2828;
$info      : #31CCEC;
$warning   : #F2C037;
